@import '../../styles/variables.scss';

.container {
  text-align: center;
  padding: $spacing-container-padding-voluntario;

  h1 {
    font-size: $font-size-heading-voluntario;
    color: $color-heading-blue-voluntario;
    font-weight: 700;
    padding-bottom: $spacing-heading-bottom-voluntario;
  }
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-cards-gap-voluntario;

  @media (min-width: $breakpoint-voluntario-272) {
    width: $cards-width-voluntario-272;
  }

  @media (min-width: $breakpoint-voluntario-346) {
    width: $cards-width-voluntario-346;
  }

  @media (min-width: $breakpoint-voluntario-414) {
    width: $cards-width-voluntario-414;
  }

  @media (min-width: $breakpoint-voluntario-474) {
    width: $cards-width-voluntario-474;
  }

  @media (min-width: $breakpoint-voluntario-544) {
    width: $cards-width-voluntario-544;
  }

  @media (min-width: $breakpoint-voluntario-768) {
    width: $cards-width-voluntario-768;
  }

  @media (min-width: $breakpoint-voluntario-992) {
    display: flex;
    flex-direction: row;
    width: $cards-width-voluntario-992;
  }

  @media (min-width: $breakpoint-voluntario-1058) {
    width: $cards-width-voluntario-1058;
  }

  @media (min-width: $breakpoint-voluntario-1154) {
    width: $cards-width-voluntario-1154;
  }

  @media (min-width: $breakpoint-voluntario-1214) {
    width: $cards-width-voluntario-1214;
  }

  @media (min-width: $breakpoint-voluntario-1280) {
    width: $cards-width-voluntario-1280;
    gap: $spacing-cards-gap-lg-voluntario;
  }
}