@import '../../styles/variables.scss';

.container {
  text-align: center;
  padding: $spacing-container-padding-eventos;
  
  h1 {
    font-size: $font-size-heading-eventos;
    color: $color-heading-blue-eventos;
    font-weight: 700;
    padding-bottom: $spacing-heading-bottom-eventos;
  }
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-cards-gap-eventos;

  @media (min-width: $breakpoint-eventos-272) {
    width: $cards-width-eventos-272;
  }

  @media (min-width: $breakpoint-eventos-346) {
    width: $cards-width-eventos-346;
  }

  @media (min-width: $breakpoint-eventos-414) {
    width: $cards-width-eventos-414;
  }

  @media (min-width: $breakpoint-eventos-474) {
    width: $cards-width-eventos-474;
  }

  @media (min-width: $breakpoint-eventos-544) {
    width: $cards-width-eventos-544;
  }

  @media (min-width: $breakpoint-eventos-768) {
    width: $cards-width-eventos-768;
  }

  @media (min-width: $breakpoint-eventos-992) {
    display: flex;
    flex-direction: row;
    width: $cards-width-eventos-992;
  }

  @media (min-width: $breakpoint-eventos-1058) {
    width: $cards-width-eventos-1058;
  }

  @media (min-width: $breakpoint-eventos-1154) {
    width: $cards-width-eventos-1154;
  }

  @media (min-width: $breakpoint-eventos-1214) {
    width: $cards-width-eventos-1214;
  }

  @media (min-width: $breakpoint-eventos-1280) {
    width: $cards-width-eventos-1280;
    gap: $spacing-cards-gap-lg-eventos;
  }
}