// footer.module.scss
.footer {
  text-align: center;
  background-color: #E9EFF4;
  padding: 1.2rem 1rem;

  p {
    font-weight: 400;
    font-size: 0.8rem;
    font-family: Helvetica, sans-serif;
  }
}