@import '../../styles/variables.scss';

.footer {
  text-align: center;
  background-color: $color-background-footer;
  padding: $spacing-footer-padding;

  p {
    font-weight: $font-weight-footer;
    font-size: $font-size-footer;
    font-family: $font-family-footer;
  }
}