@import '../../styles/variables.scss';

.container {
  text-align: center;
  padding: $spacing-container-padding-mentoria;
  
  h1 {
    font-size: $font-size-heading-mentoria;
    color: $color-heading-blue-mentoria;
    font-weight: 700;
    padding-bottom: $spacing-heading-bottom-mentoria;
  }
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-cards-gap-mentoria;

  @media (min-width: $breakpoint-mentoria-272) {
    width: $cards-width-mentoria-272;
  }

  @media (min-width: $breakpoint-mentoria-346) {
    width: $cards-width-mentoria-346;
  }

  @media (min-width: $breakpoint-mentoria-414) {
    width: $cards-width-mentoria-414;
  }

  @media (min-width: $breakpoint-mentoria-474) {
    width: $cards-width-mentoria-474;
  }

  @media (min-width: $breakpoint-mentoria-544) {
    width: $cards-width-mentoria-544;
  }

  @media (min-width: $breakpoint-mentoria-768) {
    width: $cards-width-mentoria-768;
  }

  @media (min-width: $breakpoint-mentoria-992) {
    display: flex;
    flex-direction: row;
    width: $cards-width-mentoria-992;
  }

  @media (min-width: $breakpoint-mentoria-1058) {
    width: $cards-width-mentoria-1058;
  }

  @media (min-width: $breakpoint-mentoria-1154) {
    width: $cards-width-mentoria-1154;
  }

  @media (min-width: $breakpoint-mentoria-1214) {
    width: $cards-width-mentoria-1214;
  }

  @media (min-width: $breakpoint-mentoria-1280) {
    width: $cards-width-mentoria-1280;
    gap: $spacing-cards-gap-lg-mentoria;
  }
}